<div class="page-content"
 <h1 class="text-center "> Edit Articles List</h1>
 

 <%= render 'form', article: @article %>

 <%= link_to 'Show', @article %> |


 <td><%= link_to 'cancel and Return to articles listing', articles_path %></td>
 </div>