@import 'bootstrap/dist/css/bootstrap';
.navbar {

    background-color: #8b8bb9 !important;
    
    }
    
     
    
    .navbar-brand {
    
    font-size: 3rem;
    
    }
    
     
    
    h1 {
    
    color: rgb(16, 122, 155);
    
    }
    #logo {
        float: left;
        font-size: 1.7em;
        color: rgb(101, 118, 133);
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: bold;
    }
  #home-container{
    margin-top: 25px;
  }

  .jumbotron{
      background-image: asset-url('glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 425px;
  }
  html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(166, 202, 166);
}

#sticky-footer {
  flex-shrink: none;
}